@media (min-width: 768px){
    .button-susto {
        width: 500px;
    }
    .logo-linkedin {
        margin-left: 20px;
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header > h1 {
        text-align: left;
        max-width: 1024px;
    }
}